/*  Import fonts from Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Open+Sans:wght@400;700&family=Orbitron:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

/* Body font */
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

/* Background color gradient */
body {
  background: linear-gradient(to right, var(--thulian-pink), var(--green-blue));
}

/* Components Styling */
.Header {
  background-color: var(--thulian-pink);
  color: white;
}
.Navigation {
  background-color: var(--green-blue);
  color: white;
}
.Project {
  background-color: var(--space-cadet);
  color: white;
}
