@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: black;

}

/* CSS HEX 
--dark-purple: #301D2Cff;
--blue-ncs: #0482C4ff;
--steel-pink: #D43EB3ff;
--flame: #E8591Aff;
--green-blue: #0763AAff;
*/