#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: black;

}

/* CSS HEX 
--dark-purple: #301D2Cff;
--blue-ncs: #0482C4ff;
--steel-pink: #D43EB3ff;
--flame: #E8591Aff;
--green-blue: #0763AAff;
*/