

body {
  background-color: black;

}

/* CSS HEX 
--prussian-blue: #00364Aff;
--lapis-lazuli: #025EA5ff;
--red-ncs: #BD1235ff;
--polynesian-blue: #004690ff;
--russian-violet: #2A1F49ff;
--shocking-pink: #D24FB3ff;
*/